<h1>About Meadowlark Travel</h1>
<p>Your fortune for the day:</p>
<blockquote>{{fortune}}</blockquote>
<a href="/contact">contact</a>
{{! handlebars的注释,不会被传递到浏览器}}
<!--html的注释，可以在浏览器源码中看到-->
{{name}}
{{{name}}}